body {
 background-image: url(../images/crowd.jpg);
 padding-top: 70px; 
}

.box {

background-color: #ffffff;
 margin: 40px;
border-radius: 6px 6px 6px 6px;
padding: 5px;
}

.breadcrumb {
    background-color: #ffffff;

    list-style: none outside none;
}

#no-max-width {
	max-width: initial;
}

.panel-default > .panel-heading {
    background-color: #F9FBFD;}